<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Price history </mat-panel-title>
      <mat-panel-description>
        Price history since: 2021-10-10
        <mat-icon>multiline_chart</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ngx-charts-line-chart
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [timeline]="true"
    [results]="graphData"
    [autoScale] = "true"
    >
  </ngx-charts-line-chart>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Notes </mat-panel-title>
      <mat-panel-description>
        Important informations count: 2
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
