mat-panel-description {
  text-align: end;
}

.mat-expansion-panel-header-description {
  display: inline-block;
}

ngx-charts-bar-vertical {
  max-width: inherit;
}

/* @media only screen and (max-width: 800px) {
  .graph-container {
    max-height: 30vh;
  }
} */
